<html>
  <head>
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/about.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/290d4f0eb4.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </head>
  <body>
    <div style="background-color:ghostwhite;">
    <div class="flex justify-center py-3">
        <nav class=" w-full max-w-45xl navbar-expand-lg ">
            <div class="flex flex-col lg:flex-row justify-around items-center ">
                    <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png' %}" height="50" width="50" ></a>

                <ul class="hidden lg:flex items-center text-[18px] font-semibold pl-32">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                     </li>
                    <li class="hover:underline underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-5"><a href="{% url 'about' %}">About Us</a></li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Registration
                         </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'farmerreg' %}">Farmer Registration</a></li>
                                <li><a class="dropdown-item" href="{% url 'merchantreg' %}">Merchant Registration</a></li>
                            </ul>
                     </li>
                    </li>
                    <li class="hover:underline underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-5"><a href="{% url 'login' %}">Login</a></li>
                    <li class="hover:underline underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-5"><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
                 <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
               </div>
        </nav>
    </div>

</div>
</div>

        <div class="row">
    <div style="width:60%;margin:0 auto;">
        <form action="{% url 'saveenq' %}" method="post">
            {% csrf_token %}
                    <div class="flex flex-col md:flex-row justify-center max-w-72xl  mt-5">
                        <div class="flex flex-col px-7 py-2 bg-slate-200  w-full rounded-tl-3xl">
                            <h4 style="text-align:center;color:black;">
                                Fill This Form For Enquiry
                            </h4>
                        {% if msg %}
                         <p style="text-align:center; font-size:15px;font-color:red;">{{msg}}</p>
                        {% endif %}
                            <div class="flex flex-col md:flex-row ">
                                <div class="">
                                    <input type="text" name="name"  placeholder="Enter your name" class="w-full border-2 border-white px-3 py-1 text-sm outline-none placeholder:text-black placeholder:opacity-40 mt-4 mr-2 focus:border-blue-500 duration-200 ease-in-out rounded-lg"></div>
                            </div>
                            <div class=" text-center  space-y-2">
                            <input type="radio" name="gender" value="male" placeholder="" class="w-full border-2 border-white text-sm outline-none px-3 py-1 placeholder:text-black placeholder:opacity-40 mt-4 focus:border-blue-500 duration-200 ease-in-out rounded-lg">Male
                            <input type="radio" name="gender" value="female" placeholder="" class="w-full border-2 border-white text-sm outline-none px-3 py-1 placeholder:text-black placeholder:opacity-40 mt-4 focus:border-blue-500 duration-200 ease-in-out rounded-lg">Female
                             </div>
                            <textarea name="address" placeholder="Enter Your  Address" class="mb-3 w-full border-2 border-white h-44 text-sm outline-none placeholder:text-black placeholder:opacity-40 focus:border-blue-500 py-1 px-3 mt-4 resize-none leading-6 duration-200 ease-in-out rounded-lg"></textarea>
                            <input type="number" name="contactno"  placeholder="Phone Number" class="w-full border-2 border-white text-sm outline-none px-3 py-1 placeholder:text-black placeholder:opacity-40 mt-4 focus:border-blue-500 duration-200 ease-in-out rounded-lg">
                            <input type="email" name="emailaddress"  placeholder="Enter email address" class="w-full border-2 border-white text-sm outline-none px-3 py-1 placeholder:text-black placeholder:opacity-40 mt-4 focus:border-blue-500 duration-200 ease-in-out rounded-lg">
                            <textarea name="enquirytext" placeholder="Enter Enquiry Text" class="mb-3 w-full border-2 border-white h-44 text-sm outline-none placeholder:text-black placeholder:opacity-40 focus:border-blue-500 py-1 px-3 mt-4 resize-none leading-6 duration-200 ease-in-out rounded-lg"></textarea>
                                <button class="bg-blue-900 hover:bg-blue-600 px-4 font-semibold text-white w-1/2 text-center mx-auto my-3 rounded-tr-lg rounded-bl-lg">Submit</button>
                        </div>
                        <div class="flex flex-col bg-blue-900 text-white md:w-[65%] rounded-br-3xl">
                            <h1 class="font-semibold px-5 my-5">Contact info</h1>
                            <div class="flex px-5 space-x-2">
                                <ion-icon name="call-sharp" class="text-orange-500  mt-1 my-3"></ion-icon>
                                <span class="text-sm">+1 900 267 2678</span>
                            </div>
                            <div class="flex px-5 space-x-2">
                                <ion-icon name="mail" class="text-orange-500  mt-1 my-3"></ion-icon>
                                <span class="text-sm">sourire@gmail.com</span>
                            </div>
                            <div class="flex px-5 space-x-2">
                                <ion-icon name="globe-outline" class="text-orange-500 mt-1 my-3" ></ion-icon>
                                <span class="text-sm">www.sourire.org</span>
                            </div>
                            <div class="px-5 space-x-5 mt-7 mx-auto mb-5" >
                                <a href="https://www.facebook.com/accounts/login/"><i class="fa-brands fa-facebook-f text-white text-2xl"></i></a>
                                <a href="https://www.instagram.com/accounts/login/"><i class="fa-brands fa-instagram text-red-500  text-2xl"></i></a>
                                <a href="https://www.linkedin.com/accounts/login/"><i class="fa-brands fa-linkedin text-yellow-500 text-2xl"></i></a>
                            </div>
                        </div>
                    </div></form>
                </div>
        </div>
    </div>

  </body>
</html>