{% extends "adminbase.html" %}
{% block body %}
    <h4 style="color:blue;text-align:center;"><b>
        Enquiries Management</b>
    </h4>
    <div style="width:100%;margin:0 auto;">
        <table border="1"  class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Contact No</th>
                <th>Email Address</th>
                <th>Enquiry Text</th>
                <th>Enquiry Date</th>
                <th>Delete</th>
            </tr>
            {% for e in enq %}
                <tr>
                    <td>{{e.id}}</td>
                    <td>{{e.name}}</td>
                    <td>{{e.gender}}</td>
                    <td>{{e.address}}</td>
                    <td>{{e.contactno}}</td>
                    <td>{{e.emailaddress}}</td>
                    <td>{{e.enquirytext}}</td>
                    <td>{{e.enquirydate}}</td>
                    <td>
                        <a href="{% url 'adminapp:deleteenq' id=e.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock body %}