{% extends "adminbase.html" %}
{% block body %}
    <h4 style="text-align:center;color:blue;"><b>
        Pay Rest Amount</b>
    </h4>
    <div class="row mt-2">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form action="{% url 'adminapp:paid' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Aadhar No</label>
                    <input type="number" name="aadharno" value="{{obj.aadharno}}" readonly="true" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Rest Amount</label>
                    <input type="number" name="restamt" value="{{obj.restamt}}" readonly="true" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Amount To Pay</label>
                    <input type="number" name="payamt" required="true" class="form-control"/>
                </div>
                <br/>
                <input type="submit" value="Pay" class="btn btn-info"/>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
{% endblock body %}